/* http://jsfiddle.net/92tnh/234/ */


.wrapper {
  /* margin: 50px auto; */ 
  padding: 15px ;
  /* width: 280px; */
  /* height: 370px; */
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.6);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.6);
  position: relative;
  z-index: 90;
}

/* h1 {font-size:1.4em;padding:30px 0 0 20px;border-bottom:1px solid #eee;} */
.wrapper p {padding:10px 0 0 20px;font-size:0.85em;color:#aaa;}

.ribbon-wrapper-blue {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-blue {  
  font: bold 8px Sans-Serif;
  color: #fff;
  text-align: center;
  letter-spacing:1px;
  text-shadow:1px -1px 3px rgba(0,0,0,0.5) ;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background: rgb(167,207,223);
  background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
  background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-blue:before, .ribbon-blue:after {
  content: "";
  border-top:   3px solid #23538a;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
.ribbon-blue:before {left: 0;}
.ribbon-blue:after {right: 0;}
